@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  --main-color: #f22735;
}
.main-text {
  color: #f22735;
}
.bg-main {
  background-color: #f22735;
}

.sigmar--font {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
}
